

div.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 200px;
}

div.slide {
  background-color: lightblue;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}