<p><input type="submit" (click)="previous()" value="Previous"></p>
<p><input type="submit" (click)="next()" value="Next"></p>

<carousel>
  <img style="max-width: 100%" src="http://i0.kym-cdn.com/entries/icons/facebook/000/011/365/GRUMPYCAT.jpg" #slide>
  <img style="max-width: 100%" src="https://yt3.ggpht.com/wm5LCci89chQvQ0oeDl-QxDMwCFTu6v0YiSEytYinTbG-hU_iLP9Jqc6cC57SbNLGxIlOfAhsrfE7BG_HO8=s900-mo-c-c0xffffffff-rj-k-no" #slide>
  <img style="max-width: 100%" src="http://r.ddmcdn.com/s_f/o_1/cx_462/cy_245/cw_1349/ch_1349/w_720/APL/uploads/2015/06/caturday-shutterstock_149320799.jpg" #slide>
  <img style="max-width: 100%" src="http://www.catbreedslist.com/cat-wallpapers/Persian-kitten-grass-white-2560x1600.jpg" #slide>
  <img style="max-width: 100%" src="https://www.factslides.com/imgs/black-cat.jpg" #slide>
</carousel>