<!-- <header *ngIf="!hide"> -->

<header [ngClass]="hide ? 'hideme' : 'visible'"
  [@scrollAnimation]="state">
  <nav>
    <!-- <div style="height:10px;  top:0px"></div> -->
    <div fxFlex
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.lt-sm="space-between center">
      <!-- <div fxFlex
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center center"
      fxLayoutAlign.lt-sm="space-between center"> -->
      <!-- <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="space-between center"> -->
      <div fxFlex
        fxShow
        fxHide.xs
        class="home-link"
        (click)="routeHome()"
        class="text-left">
        <h1 id="glow"
          class="navbar-brand"><img src="assets/images/logo-white.svg">CHELSEA PATTEE</h1>
      </div>
      <div fxFlex
        fxShow.xs
        fxHide.gt-xs
        class="home-link"
        (click)="routeHome()"
        class="text-left">
        <h1 id="glow"
          class="navbar-brand"><img src="assets/images/logo-white.svg"></h1>
      </div>
      <!-- <div fxFlex="50"> -->
      <!-- <div fxFlex="50">
                <a mat-raised-button *ngFor="let item of menuItems" routerLink="{{item.link}}">
                    {{item.name | uppercase}}
                </a>
            </div> -->
      <div *ngIf="!isProjectDetail" fxFlex class="text-right">
        <button mat-button (click)="seeProjects();">PROJECTS</button>
        <a mat-button
          *ngFor="let item of menuItems"
          routerLink="{{item.link}}">
                    {{item.name | uppercase}}
                </a>
      </div>
      <div *ngIf="isProjectDetail" fxFlex
        class="text-right">
        <!-- <app-search-bar></app-search-bar> -->
        <button  mat-button
          [matMenuTriggerFor]="menu">PROJECTS</button>
          <mat-menu #menu="matMenu">
            <button (click)="seeProjects();"
              mat-menu-item>All Projects</button>
            <button *ngFor="let project of projects"
              mat-menu-item
              (click)="seeProjectDetails(project);">{{project.title}}</button>
          </mat-menu>
      </div>
    </div>
  </nav>
  <!-- <section class="progress-bar"> -->
  <!-- <mat-progress-bar [color]="'primary'" [mode]="progressBarMode"> -->
  <!-- </mat-progress-bar> -->
  <!-- </section> -->
</header>
