    @import '../../../assets/scss/mixins/transition.scss';
    body {
      // font-family: $font-family-body;
      font-size: 1rem;
      // font-size: 62.5%;
      // color: #5a5a5a;
      color: #d91c1c;
    }
    
     :host(app-nav) {
      padding-top: 0;
      // padding-bottom: 5em;
      // padding-bottom: 0;
      // padding-bottom: 50px;
      display: grid;
      header {
        background: black;
        position: fixed;
        z-index: 999;
        width: 100%;
        &.hideme {
          // animation test
          // position: absolute;
          // top: 0;
          // left: 0;
          // -webkit-transform: translateX(0%) translateY(-150%);
          // transform: translateX(0%) translateY(-150%);
          // transition: -webkit-transform .4s ease-in-out;
          // transition: transform .4s ease-in-out;
          // transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
          // transition-delay: 1s;
          // End animation test
        }
        &.visible {
          // -webkit-transform: translateX(0%) translateY(0%);
          // transform: translateX(0%) translateY(0%);
          // transition: -webkit-transform .4s ease-in-out;
          // transition: transform .4s ease-in-out;
          // transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
          // transition-delay: 2s;
        }
        nav {
          // background-color: #222;
          // border-color: #080808;
          // border-top: 3px solid white;
          // box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
          position: relative;
          z-index: 1000;
          // min-height: 30px;
          margin-bottom: 0px;
          border: 1px solid transparent;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          // padding: 4px 16px 0 16px;
          padding: 10px 16px 10px 16px;
          // height: 52px;
          // END animation test
          .home-link {
            &:hover {
              cursor: pointer;
            }
          }
          .navbar-brand {
            cursor: pointer;
            display: block;
            float: left;
            color: #E9E9E9;
            font-size: 10px;
            letter-spacing: 1px;
            font-weight: 600;
            margin: 0;
            margin-bottom: 0px;
            line-height: 25px;
            color: #E9E9E9;
            @include transition(.25s ease-in-out);
            @include textShadow((0 0 0 transparent, 0 0 0 transparent));
            text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
            padding: 0px 20px;
            img {
              margin-right: 15px;
              width: calc(50px / 2);
              height: auto;
            }
            &:before {
              cursor: pointer;
              position: relative;
              display: block;
              content: '';
              @include transition(all 1000ms ease);
            }
            &#glow {
              overflow: visible;
              &:hover {
                cursor: pointer;
                letter-spacing: 10px;
              }
            }
          }
          // .mat-button,
          // .mat-menu-item,
          // button.mat-menu-item {
          //   margin-right: .5em;
          //   color: #c3c3c3;
          //   font-size: 10px !important;
          //   letter-spacing: 1px;
          //   font-weight: 600;
          // }
          .progress-bar {
            display: flex;
            align-content: center;
            align-items: center;
            height: 5px;
          }
          .image-icon {
            width: 20px;
            height: 20px;
          }
          img {
            vertical-align: middle;
          }
        }
      }
    }
    
    .mat-button,
    .mat-menu-item,
    button.mat-menu-item {
      margin-right: .5em;
      color: #c3c3c3;
      font-size: 10px !important;
      letter-spacing: 1px;
      font-weight: 600;
      text-transform: uppercase;
    }
    
    .mat-menu-item {
      line-height: 32px;
      height: 32px;
    }
    
    // @media (max-width: 680px) {
    @media screen and (min-width: 600px) and (max-width: 959px) {
       :host(app-nav) {
        padding: 0 0 1em 0;
        // padding-top: 0;
        padding-bottom: 0px;
        header {
          background: blue !important;
          // position: relative;
          // nav {
          //   display: flex;
          //   .navbar-brand {
          //     cursor: pointer;
          //     display: block;
          //     float: left;
          //     font-weight: 700;
          //     letter-spacing: 5px;
          //     margin: 0;
          //     margin-bottom: 0px;
          //     line-height: 25px;
          //     padding: 15px 20px 10px;
          //   }
          // }
        }
      }
    }
    
    // @media (max-width: 425px) {
    @media screen and (max-width: 599px) {
       :host(app-nav) {
        padding-bottom: 0;
        header {
          background: red !important;
          nav {
            padding: 1em 2em 0;
            h1.navbar-brand {
              cursor: pointer;
              display: block;
              float: left;
              // font-size: 3em !important;
              // font-weight: 700;
              letter-spacing: 5px;
              margin: 0;
              margin-bottom: 0px;
              line-height: 25px;
              padding: 0;
            }
            app-search-bar {
              width: 75%;
            }
          }
        }
      }
    }
    
    /// *** RESPONSIVE NAV ** ///
    a.resToggle {
      display: none;
    }
    
    .the-nav {
      display: inline-block;
      float: right;
      li {
        display: inline-block;
        a {
          display: block;
          // padding: 30px 15px;
        }
        &:hover a {
          background: #fc414e;
        }
      }
    }
    
    @media screen and (max-width: 768px) {
      a.resToggle {
        display: inline-block;
        float: right;
        padding: 30px;
        &:hover {
          background: #fc414e;
        }
      }
      .the-nav {
        display: none;
        width: 100%;
        &.active {
          display: block;
        }
        li {
          display: block;
          border-bottom: 1px solid lighten(#fa444d, 10%);
          a {
            // padding: 15px 10px;
          }
        }
      }
    }
    
    .align-center {
      text-align: center;
    }