footer {
  padding: 8px 16px;
  color: #ccc;
  background: #191616;
  // margin-top: 2em;
  font-family: 'basis-grotesque-monobold';
  // font-family: 'Gear Proportion';
  position: sticky;
  top: 100%;
  img {
    // width: 25%;
    max-height: 25px;
  }
  span {
    font-size: .6rem;
  }
}

.footer-xs {
  // text-align: center;
  padding-top: 1em;
}