// **** NEW**** //
body {
  background: #111;
}

svg {
  width: 100vmin;
  height: 100vmin;
  transform: translate(calc(50vw - 50vmin), calc(50vh - 50vmin));
}

path {
  fill: none;
  stroke: whitesmoke;
  stroke-width: 20;
  transform-origin: center center;
  /*   animation: load 1s ease-in-out infinite; */
  animation: load 1s ease-in-out infinite;
  /*   animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1); */
}

.slash {
  animation-name: slash;
}

.lt {
  animation-name: lt;
  animation-delay: -.5s;
}

.gt {
  animation-name: gt;
  animation-delay: 0s;
}

.scale {
  animation-name: scale;
}

@keyframes slash {
  0%,
  30% {
    transform: none;
  }
  50%,
  60% {
    transform: rotate(-10.868deg);
  }
}

@keyframes rotate {
  0%,
  30% {
    transform: rotateZ(5deg)
  }
  50%,
  60% {
    transform: rotateZ(-5deg);
  }
}

@keyframes lt {
  0%,
  30% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(-6px);
  }
}

@keyframes gt {
  0%,
  30% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(6px);
  }
}

// @keyframes scale{
//    0%, 30% { transform: rotateZ(5deg) }
//   50%, 60% { transform: rotateZ(-5deg); }
// }
// // @keyframes scale {
// //   50% {
// //     transform: scale(1.2);
// //   }
// }
// **** /END NEW **** //
// **** OLD **** //
// html {
//   height: 100%;
// }
// body {
//   min-height: 100%;
// }
.loading-page {
  height: 100%;
  width: 100%;
  position: absolute;
  // background: #3f51b5;
  // background: #2a2430;
}

// .spinner {
//   position: absolute;
//   left: 48%;
//   top: 40%;
//   width: 55px;
//   height: 65px;
//   text-align: center;
// }
.spinner {
  position: absolute;
  // left: 48%;
  // top: 40%;
  text-align: center;
  margin: 20px auto;
  width: 40px;
  height: 40px;
  // -webkit-transform: rotateZ(45deg);
  // transform: rotateZ(45deg);
}

// .spinner .sk-cube {
//   float: left;
//   width: 50%;
//   height: 50%;
//   position: relative;
//   -webkit-transform: scale(1.1);
//   -ms-transform: scale(1.1);
//   transform: scale(1.1);
// }
// .spinner .sk-cube:before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background-color: white;
//   background-color: #bbb;
//   -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
//   animation: sk-foldCubeAngle 2.4s infinite linear both;
//   -webkit-transform-origin: 100% 100%;
//   -ms-transform-origin: 100% 100%;
//   transform-origin: 100% 100%;
// }
// .spinner .sk-cube2 {
//   -webkit-transform: scale(1.1) rotateZ(90deg);
//   transform: scale(1.1) rotateZ(90deg);
// }
// .spinner .sk-cube3 {
//   -webkit-transform: scale(1.1) rotateZ(180deg);
//   transform: scale(1.1) rotateZ(180deg);
// }
// .spinner .sk-cube4 {
//   -webkit-transform: scale(1.1) rotateZ(270deg);
//   transform: scale(1.1) rotateZ(270deg);
// }
// .spinner .sk-cube2:before {
//   -webkit-animation-delay: 0.3s;
//   animation-delay: 0.3s;
// }
// .spinner .sk-cube3:before {
//   -webkit-animation-delay: 0.6s;
//   animation-delay: 0.6s;
// }
// .spinner .sk-cube4:before {
//   -webkit-animation-delay: 0.9s;
//   animation-delay: 0.9s;
// }
// @-webkit-keyframes sk-foldCubeAngle {
//   0%,
//   10% {
//     -webkit-transform: perspective(140px) rotateX(-180deg);
//     transform: perspective(140px) rotateX(-180deg);
//     opacity: 0;
//   }
//   25%,
//   75% {
//     -webkit-transform: perspective(140px) rotateX(0deg);
//     transform: perspective(140px) rotateX(0deg);
//     opacity: 1;
//   }
//   90%,
//   100% {
//     -webkit-transform: perspective(140px) rotateY(180deg);
//     transform: perspective(140px) rotateY(180deg);
//     opacity: 0;
//   }
// }
// @keyframes sk-foldCubeAngle {
//   0%,
//   10% {
//     -webkit-transform: perspective(140px) rotateX(-180deg);
//     transform: perspective(140px) rotateX(-180deg);
//     opacity: 0;
//   }
//   25%,
//   75% {
//     -webkit-transform: perspective(140px) rotateX(0deg);
//     transform: perspective(140px) rotateX(0deg);
//     opacity: 1;
//   }
//   90%,
//   100% {
//     -webkit-transform: perspective(140px) rotateY(180deg);
//     transform: perspective(140px) rotateY(180deg);
//     opacity: 0;
//   }
// }