section {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;
  &.test {
    border: 5px solid red;
  }
}

:host /deep/ .project-section--header {
  // padding-bottom: 20px;
  font-weight: 600;
  // color: #e9e9e9;
  color: #d6d6d6;
  // font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  // color: red;
}