.content {
  padding-top: 55px;
}

mat-grid-tile {
  // background: #c57474;
  cursor: pointer;
  img {
    @media screen and (max-device-width: 570px) and (-webkit-min-device-pixel-ratio: 2) {
      filter: blur(0px);
    }
    background-size: cover;
    width: 100%;
    filter: blur(20px);
    transition: all .2s ease-in-out;
    &:hover {
      filter: blur(0px);
    }
  }
  mat-grid-tile-footer,
  mat-grid-tile-header {
    @media screen and (max-device-width: 570px) and (-webkit-min-device-pixel-ratio: 2) {
      opacity: 0;
    }
    // padding: 0 10px 0 0;
    // border-right: 1px solid #fff;
    // color: #fff;
    // font-weight: 600;
    // text-align: right;
    // margin: 0;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    word-wrap: normal;
  }
  &:hover mat-grid-tile-footer,
  mat-grid-tile-header {
    @media screen and (min-device-width: 571px) {
      filter: blur(0px);
      color: white;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0);
    }
  }
}

.grid,
{
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center;
  figure,
  {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: all 0.25s ease-in-out;
    // &:nth-of-type(2n+1) {
    //   border: 4px solid #5f5f5f;
    // }
    &:nth-last-of-type() {
      border: 0px;
    }
    &:nth-of-type(2n+1) {}
    &:hover {
      border-radius: 6px;
      box-shadow: 0 35px 77px -17px rgba(0, 0, 0, .64);
      z-index: 999;
      img {
        filter: blur(0px);
        opacity: 1;
      }
    }
    cursor: pointer;
    img {
      position: relative;
      display: block;
      min-height: 100%;
      max-width: 100%;
      opacity: 1;
      background-size: cover;
      filter: blur(20px);
      transition: all .2s ease-in-out;
    }
    figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,
      &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      >a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      span {
        font-weight: 800;
      }
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: 1px;
      color: white;
      font-weight: 900;
    }
  }
}


/* Common style */


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */


/* Individual effects */


/*---------------*/


/***** Milo *****/


/*---------------*/

figure.effect-milo {
  background: #c57474;
  img {
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover img {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
    cursor: pointer;
  }
  h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
    font-size: 16px;
    transition: all 0.35s ease-in-out;
  }
  &:hover h2 {
    opacity: 0;
  }
  p {
    padding: 0 10px 0 0;
    border-right: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    text-align: right;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    word-wrap: normal;
  }
  &:hover p {
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
  }
}

@media screen and (max-width: 50em) {
  .content {
    padding: 0 auto;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.clearfix {
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    content: "";
    clear: both;
  }
}

body {
  background: #2f3238;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
}

a {
  outline: none;
  color: white;
  text-decoration: none;
  &:hover,
  &:focus {
    color: yellow;
  }
}

section {
  padding: 1em;
  text-align: center;
}

.content {
  margin: 0 auto;
  >h2 {
    clear: both;
    margin: 0;
    padding: 4em 1% 0;
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
    &:first-child {
      padding-top: 0em;
    }
  }
}