<div id="project-top">
  <!-- <div id="mdd-header"> -->
  <div id="mdd-header">
    <!-- <a href="https://morenodd.com/laboratory"
      class="back">
      <svg id="icon-arrow"
        viewBox="0 0 24 24"
        width="100%"
        height="100%">
          <title>arrow</title>
          <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "></polygon>
      </svg>
    </a>
    <h1>Cutted Slider</h1>
  </div-->

    <div fxFlex
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlexAlign="center"
      fxShow
      fxHide.xs
      class="home-link">
      <h1 fxLayoutAlign="center center"
        id="glow"
        class="navbar-brand"><img src="assets/images/logo-white.svg">CHELSEA PATTEE</h1>
    </div>
    <div fxFlex
      fxShow.xs
      fxHide.gt-xs
      class="home-link"
      class="text-left">
      <h1 id="glow"
        class="navbar-brand"><img src="assets/images/logo-white.svg"></h1>
    </div>

  </div>

  <div id="mdd-share">
    <a href="#"
      id="mdd-share--open"><i class="fa fa-share-alt"></i></a>
    <div id="mdd-share--layer">
      <a href="#"
        id="mdd-share--close"></a>
      <div class="wrapper">
        <div class="inner">
          <div>
            <div>
              <h3>SHARE ON</h3>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://morenodd.com/lab/cutted-slider"
                class="md-share"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/share?text=Cutted%20Slider%20&url=https://morenodd.com/lab/cutted-slider"
                class="md-share"><i class="fa fa-twitter"></i></a>
            </div>

            <div>
              <h3>FIND ME</h3>
              <a href="https://facebook.com/itsmorenodd"
                target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://dribbble.com/morenodd"
                target="_blank"><i class="fa fa-dribbble"></i></a>
              <a href="https://github.com/morenodd/"
                target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header>
    <ul>
      <!-- <li>
      <span>  <a routerLink="{{home}}"  target="_blank">home</a></span>
    </li> -->
      <li>
        <!-- <span><a href="/projects" target="_blank">projects</a></span> -->
        <span><a (click)="navigateTo(null)" mat-button>projects</a></span>
      </li>
      <li>
        <span> <a href="#" mat-button>about</a></span>
      </li>
      <li>
        <span> <a href="#" mat-button>contact</a></span>
      </li>
      <li>
        <i class="fa fa-th"
          aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-search"
          aria-hidden="true"></i>
      </li>
    </ul>
  </header>

  <div class="social">
    <ul>
      <li>
        <span>Facebook</span>
      </li>
      <li>
        <span>Instagram</span>
      </li>
      <li>
        <span>Twitter</span>
      </li>
    </ul>
  </div>

  <div #mirrorSlider
    id="mirror-slider">
    <hero-caption [slide]="_slides[0]"></hero-caption>
    <ul class="slides">
      <li *ngFor="let _slide of _slides; let i = index;"
        [index]="i"
        slide>
        <div class="cut">
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + _slide.image + '\')'}"></span>
        </div>
      </li>
    </ul>

    <div class="nav"
      fxHide.lt-sm>
      <button mat-icon-button
        (click)="previous()"
        data-dir="prev"><mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon></button>
      <button mat-icon-button
        (click)="next()"
        data-dir="next"><mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon></button>
    </div>
  </div>

  <div id="bottom"
    fxFlex.lt-sm="100">
    <div class="boxes"
      fxHide.lt-sm
      fxLayout.sm="column">
      <div *ngFor="let project of projects | async | slice:0:3; let i = index;"
        class="box">
        <div class="inner" (click)="navigateTo(project)">
          <div>
            <span *ngIf="i == 0"
              class="event"><i class="fa fa-sun-o" aria-hidden="true"></i> Projects</span>
            <div class="img-round"><img style="height: 80px;
              width: 80px;
              border-radius: 50%;
              flex-shrink: 0;
              background-size: cover;"
                [ngStyle]="{
                'background-image': 'url(\'' + thumbnailURL(project) + '\')'
              }"></div>
            <h4>{{project.title}}</h4>
            <p>{{project.attributes.caption}}</p>
            <ul *ngIf="i == 0">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="box">
        <div class="inner">
          <div>
            <h4>Cateline</h4>
            <p>26 May, Hall of fame</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="inner">
          <div>
            <h4>Zarya</h4>
            <p>26 May, Hall of fame</p>
          </div>
        </div>
      </div>-->
    </div>

    <div class="thumbs">
      <div class="images">
        <thumbnail-slide *ngFor="let project of projects | async; let i = index;"
          (click)="navigateTo(project)"
          [index]="i"
          [project]="project"
          [ngStyle]="{'background-image': 'url(\'' + thumbnailURL(project) + '\')'}"></thumbnail-slide>
      </div>
      <div class="caption">
        <div>
          <h5>Featured</h5>
          <div class="titles">
            <h4 *ngFor="let project of projects | async; let i = index;"
              [index]="i"
              [project]="project"
              class="{{i == 0 ? '' : 'hidden-next'}}"
              caption>{{project.title}}</h4>
          </div>
          <span>Read More</span>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<script>
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-8408392-25', 'auto');
  ga('send', 'pageview');
</script>-->
