<div fxLayout="row">
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
    <div fxFlex="90" fxFlex.gt-sm="80">
        <h1 class="section-title">{{'topProjects' | translate}}</h1>
        <mat-progress-spinner *ngIf="!projects"
                              class="progress-spinner"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
        <div id="projects-list" *ngIf="projects">
            <ng-container *ngFor="let project of projects">
                <mat-card class="project-card">
                    <mat-card-header>
                        <div mat-card-avatar class="project-header-image"
                             [ngStyle]="{'background-image': 'url(assets/images/projects/' + project.id + '-thumbnail.jpg)'}"></div>
                        <mat-card-title>{{project.name}}</mat-card-title>
                        <mat-card-subtitle>{{project.alterEgo}}</mat-card-subtitle>
                        <div class="flex-spacer"></div>
                        <div class="project-actions">
                            {{project.likes}}
                            <mat-icon matTooltip="{{(canVote ? 'canVote' : 'cannotVote') | translate}}"
                                      [matTooltipPosition]="'above'"
                                      class="like-icon" (click)="like(project)">favorite
                            </mat-icon>
                        </div>
                    </mat-card-header>
                    <img mat-card-image src="assets/images/projects/{{project.id}}.jpg">
                </mat-card>
            </ng-container>
        </div>
    </div>
    <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
