<div id="project-top">
  <div id="mdd-header">
    <a href="https://morenodd.com/laboratory"
      class="back">
      <svg id="icon-arrow"
        viewBox="0 0 24 24"
        width="100%"
        height="100%">
          <title>arrow</title>
          <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "></polygon>
      </svg>
    </a>
    <h1>Cutted Slider</h1>
  </div>

  <div id="mdd-share">
    <a href="#"
      id="mdd-share--open"><i class="fa fa-share-alt"></i></a>
    <div id="mdd-share--layer">
      <a href="#"
        id="mdd-share--close"></a>
      <div class="wrapper">
        <div class="inner">
          <div>
            <div>
              <h3>SHARE ON</h3>
              <a href="https://www.facebook.com/sharer/sharer.php?u=https://morenodd.com/lab/cutted-slider"
                class="md-share"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/share?text=Cutted%20Slider%20&url=https://morenodd.com/lab/cutted-slider"
                class="md-share"><i class="fa fa-twitter"></i></a>
            </div>

            <div>
              <h3>FIND ME</h3>
              <a href="https://facebook.com/itsmorenodd"
                target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://dribbble.com/morenodd"
                target="_blank"><i class="fa fa-dribbble"></i></a>
              <a href="https://github.com/morenodd/"
                target="_blank"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header>
    <ul>
      <!-- <li>
      <span>  <a routerLink="{{home}}"  target="_blank">home</a></span>
    </li> -->
      <li>
        <!-- <span><a href="/projects" target="_blank">projects</a></span> -->
        <span><a href="/projects">projects</a></span>
      </li>
      <li>
        <span>about</span>
      </li>
      <li>
        <span>contact</span>
      </li>
      <li>
        <i class="fa fa-th"
          aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-search"
          aria-hidden="true"></i>
      </li>
    </ul>
  </header>

  <div class="social">
    <ul>
      <li>
        <span>Facebook</span>
      </li>
      <li>
        <span>Instagram</span>
      </li>
      <li>
        <span>Twitter</span>
      </li>
    </ul>
  </div>

  <div #mirrorSlider
    id="mirror-slider">
    <div class="caption">
      <h5>Details</h5>
      <h3>Serenity</h3>
      <div class="news">
        <span>Wire</span>
        <div class="list">
          <p>I never tell you to get down - it's all about coming up</p>
          <p>So you better duck away, run and hide out</p>
        </div>
      </div>
      <div class="icons">
        <span>
        <i class="fa fa-play"></i>
      </span>
        <span>
        <i class="fa fa-eye"></i>
      </span>
      </div>
    </div>
    <ul class="slides">
      <li *ngFor="let image of _slides; let i = index;"
        [index]="i"
        slide>
        <div class="cut">
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
          <span #slice
            [ngStyle]="{'background-image': 'url(\'assets/heros/' + image + '\')'}"></span>
        </div>
      </li>
    </ul>

    <div class="nav">
      <button mat-icon-button
        (click)="previous()"
        data-dir="prev"><mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon></button>
      <!-- <a href="#"
          (click)="previous()"
          data-dir="prev"> -->
      <!-- <mat-icon aria-hidden="true">keyboard_arrow_left</mat-icon> -->
      <!-- </a> -->
      <button mat-icon-button
        (click)="next()"
        data-dir="next"><mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon></button>
      <!-- <a href="#"
          (click)="next()"
          data-dir="next"> -->
      <!-- <mat-icon aria-hidden="true">arrow_next</mat-icon> -->
      <!-- <mat-icon aria-hidden="true">keyboard_arrow_right</mat-icon> -->
      <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
      <!-- </a> -->
    </div>
  </div>

  <div id="bottom">
    <div class="boxes">
      <div class="box">
        <div class="inner">
          <div>
            <span class="event"><i class="fa fa-sun-o" aria-hidden="true"></i> Events</span>
            <div class="img-round"><img style="height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;"></div>
            <h4>029c</h4>
            <p>26 May, Hall of fame</p>
            <ul>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="inner">
          <div>
            <h4>Cateline</h4>
            <p>26 May, Hall of fame</p>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="inner">
          <div>
            <h4>Zarya</h4>
            <p>26 May, Hall of fame</p>
          </div>
        </div>
      </div>
    </div>

    <div class="thumbs">
      <div class="images">
        <thumbnail-slide *ngFor="let project of projects | async; let i = index;"
          [index]="i"
          [project]="project"
          [ngStyle]="{'background-image': 'url(\'' + thumbnailURL(project) + '\')'}"></thumbnail-slide>
      </div>
      <div class="caption">
        <div>
          <h5>News</h5>
          <div class="titles">
            <h4 *ngFor="let project of projects | async; let i = index;"
              [index]="i"
              [project]="project"
              class="{{i == 0 ? '' : 'hidden-next'}}"
              caption>{{project.attributes.caption}}</h4>
          </div>
          <span>Read More</span>
        </div>
      </div>
    </div>
  </div>
</div>



<!--<script>
  (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-8408392-25', 'auto');
  ga('send', 'pageview');
</script>-->
