h5 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 600;
  // font-family: 'GT-Haptik-Regular-Rotalic';
}

h3 {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 1;
  font-size: 60px;
  // font-weight: 600;
  font-family: 'GT-Haptik-Medium';
  // color: green;
}

.news {
  margin-bottom: 30px;
  span {
    font-size: 12px;
    color: #999;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
  }
  .list {
    display: table;
    width: 600px;
    table-layout: fixed;
    p {
      display: table-cell;
      vertical-align: top;
      margin: 0;
      padding: 0 45px 0 0;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
    }
  }
}

.icons span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  position: relative;
  margin-right: 5px;
  &:last-of-type {
    background: rgba(255, 255, 255, 0.25);
    mat-icon {
      color: #fff;
      font-size: 10px;
    }
  }
  mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    // -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 8px;
    color: #333;
  }
}